[2014-08-09 16:15] cliftonc opened #5 "Circuit breaker - distribute"
Need to update the circuit breaker so that it works across multiple nodes (vs current within one process).

[2014-10-04 16:15] dglozic opened #13 "Composure as bottleneck"
Here is a concern that comes to mind - if every request goes through the composition service, isn't it now a chock point for the entire site? If I wire the micro-services directly to the routing proxy like nginx, and each micro-service is responsible for fetching and catching the fragments, the site is somewhat harder to write but with no single point od failure. What happens when composure servic

[2015-02-04 17:32] jbyers opened #24 "backend 400 times out entire request"
When a fragment returns a 400 (and possibly other 4XX / 5XX that aren't 404), fail fast. Currently a 400 appears to time out the entire request.

[2015-02-04 19:50] cliftonc commented on #24
Will take a look first thing tomorrow am.

[2015-02-04 20:56] cliftonc commented on #24
Was due to a handler that responded to the 400 that didn't then terminate the response as it should, so an issue in our application vs Compoxure.

[2015-02-04 20:56] #24 closed

[2015-02-09 09:52] csabapalfi opened #25 "Forwarding headers to backends"
Compoxure doesn't forward all headers to backends and it's not configurable either.

[2015-02-09 10:21] csabapalfi commented on #25
Deprecated by https://github.com/tes/compoxure/pull/26

[2015-02-09 10:21] #25 closed

[2015-02-17 14:07] carolineBda opened #28 "When a fragment 404 and an other one comes back after compoxure should not log an error"
You get this error via this:

https://github.com/tes/compoxure/blob/1ac79e000d088239091b46ba5571738c2ddaf159/src/middleware/htmlparser.js#L164

Get request for Page X
- Parse, get 4 fragments (A, B, C, D)
- Make requests for fragment (A, B, C, D)
- Fragment A 404's so the response ends early with a 404 (https://github.com/tes/compoxure/blob/1ac79e000d088239091b46ba5571738c2ddaf159/src/middleware/h

[2015-02-17 17:01] carolineBda commented on #28
So I believe that fixed it for fragment that 404 but it is still happening with other errors (we see it when other fragment returns 401).
I wonder if we should just not log this error at all?

[2015-02-17 19:19] cliftonc commented on #28
Probably easiest, it isn't really an error the more you think about it.

[2015-02-18 09:42] carolineBda commented on #28
Ok done:
https://github.com/tes/compoxure/commit/e8d28719c86c9f0b5f846a1e7a42e7b82499b615

[2015-02-18 09:42] #28 closed

[2015-05-14 07:51] cliftonc opened #37 "latest parxer changes broke it"
Need to investigate, but there were issues with latest parxer build where it wasn't closing off script tags, had to force it back to the older version and re-publish as it broke everything.

- Need to find out what issue is.
- Why wasnt it found in tests?

[2015-05-14 07:53] cliftonc commented on #37
/cc @gabceb for reference

[2015-05-15 02:12] gabceb commented on #37
Could not get to this today but will do so tomorrow unless someone beats me to it.

[2015-05-15 09:49] cliftonc commented on #37
Figured it out, was my fault from the recent refactorings prior - just lucky that it hasn't popped up prior.  Will commit the changes to parxer and roll it out.

[2015-06-05 12:09] #37 closed

[2015-06-12 16:50] geophree opened #40 "re-add cx-debug=true functionality"
It was nice to be able to visually see where all the parts of a page are coming from.

[2015-06-27 20:17] 0xR opened #41 "Compoxure changes my javascript"
My web app doesn't work when I run it through compoxure and I found out it is because the Javascript is changed. I tried changing the hogan delimiters from `{{ }}` to `<% %>` but that doesn't seem to work.

[2015-06-27 23:54] gabceb commented on #41
The issue seems to be that delimiters are not being passed to https://github.com/tes/parxer/blob/master/lib/core.js#L9. Could you mind creating a failing test on the parxer project and I can look into fixing the issue

[2015-06-28 10:43] 0xR commented on #41
I don't have time to figure out how to add tests on the parxer project. I can give some example for files with and without compoxure.

This is ocLazyLoad.js before and after compoxure. I have similar issues with angular. That might look like there is some html minification going on.

http://pastebin.com/E4PKa3Ub
http://pastebin.com/3uEY9axH

[2015-06-28 10:53] 0xR commented on #41
It might have something to do with the contentTypes in the configuration. What I am doing is putting compoxure in front of an angular application which will serve html, javascript, images and a websocket connection for browsersync. I tried `"contentTypes":["html", "javascript"] ` but that doesn't help much.

What would make sense if I could provide a regex or a function to determine whether the co

[2015-07-29 06:33] cliftonc commented on #41
@gabceb I'll pick up the delimiters not being passed.

@0xR I'm not sure I completely get your use case?  We serve HTML through compoxure, not the other assets - in our use case we serve all of those via a CDN separately.

But if you specify 'passThrough: true' on your backend configuration it should just proxy all non HTML assets through completely un-parsed.

https://github.com/tes/compoxure#con

[2015-07-29 06:34] cliftonc commented on #41
Just to add - it definitely won't proxy the web-socket request, you'll need to send that to a different host.

[2015-07-29 06:35] cliftonc commented on #40
I'm planning to do this via a chrome plugin - ala https://github.com/tes/mz-chrome-react

[2015-07-30 09:55] 0xR commented on #41
While developing it is easier to have a limited number of servers running. I also worked around the issue by adding a proxy in front of compoxure to make sure only html runs through compoxure, but now I have these servers running to do simple development:

1. origin server
2. included service
3. compoxure
4. reverse proxy

Having said that, I didn't try the passThrough option. This might solve the

[2015-07-30 10:42] cliftonc commented on #41
Ok - let us know if you need anything more, and if passThrough works for you.

[2015-11-10 12:09] tomruttle opened #43 "set cx-ignore-404=true by default"
I can't think of many situations in which it's preferable to 404 a whole page rather than not show a fragment, and it's easy to forget to add this attribute to a compoxure element.

Thoughts?

[2015-11-10 18:28] cliftonc commented on #43
Agree, this was originally setup in the early days with a static backend where all content was composed in, and actually we were using fragment 404s to 404 the whole page.

Not sure what we were thinking back then.  Easy to flip the default, but we should release as a semver bump as technically breaking.

[2015-12-10 14:42] hedav85 commented on #41
I'm running into a similar issue. I have a node.js web application with a default Bootstrap template (SB Admin 2). I want to use Compoxure as a proxy for UI composition. It seems that Compoxure delivers corrupt JavaScript. Chrome tells me that the JavaScript has invalid syntax. If I call my backend directly all works fine.
I set the passTrhough configuration like mentioned before, but it doesnt ch

[2015-12-10 15:09] cliftonc commented on #41
Updated your comment to highlight the config as code.

Let me take a look.

[2015-12-10 16:05] cliftonc commented on #41
Ok, the problem is that the ```passThrough``` property passes through anything that matches this:

https://github.com/tes/compoxure/blob/master/src/middleware/passthrough.js#L7

[code]

For javascript or css, all browsers send through a content accepts header of ```*/*```.

Which means that Compoxure currently current figure out if it is something it should parse or not, it currently defaults to Y

[2016-01-07 15:58] hedav85 commented on #41
Now in the new year I found time to investigate again in this issue. I found a solution for this problem.
I found out that the content type of the JS request was text/html and thats why compoxure has tries to parse JS the files with the HTML parser and delivers corrupt JS.
If I define the contentTypes in the config in the following way:

[code]

then the content type of the request is correct and

[2016-01-07 16:03] cliftonc commented on #41
Ok, that makes sense, great to hear that you figured it out and it still works.  I'll put something in the docs about it.

[2016-01-07 16:18] hedav85 opened #48 "JS function parameter for backend configuration"
For different backends I have definded JS-functions. This functions are called with two parameters:

[code]
For my situation it would be good to have the current config also as a parameter.

[code]

Then it is possible for me to add own configurations and to check against them in my JS-function.

What do you think about it?

[2016-01-07 17:14] cliftonc commented on #48
Definitely - its a good idea, and an oversight really.  Are you able to submit a PR?

[2016-01-08 08:25] hedav85 commented on #48
Yes I'll submit a PR in the next days.

[2016-01-14 13:22] hedav85 opened #50 "dynamic configuration for servers etc."
Hi,

I think about the configuration of the server variables in the configuration. At the moment I have to configure a variable for each service I want to use in my HTML. What about if I have a service registry like Consul or a simple Database etc.? It would be good if there is the possibilty to ask my service registry for the correct URL of the service.
The advantage would be if a new service is

[2016-01-14 13:58] gabceb commented on #50
Hi David,

If I understand correctly we had the same need a couple of weeks ago. Take a look at the conversation on https://github.com/tes/compoxure/pull/45 and the solution we ended up with on https://github.com/tes/compoxure/pull/46 which gives you the ability to control the final url that gets created for every request.

[2016-01-14 15:14] hedav85 commented on #50
Hi,

I've played around with this optionsTransformer. Its not what I really needed. In the OptionsTransformer the URL is allready parsed and replaced from the cx-url attribute.

My focus is more on parsing the cx-url attribute.
[code]
If there is defined a variable like {{server:MyService}} I want to ask my service registry for the URL of "MyService". Then the retrieved URL should be used in the i

[2016-01-19 16:47] cliftonc commented on #50
It's a really good question.

The only reason we haven't felt the pain of this is that for us all of our services follow a naming convention managed by the way we configure our platform, e.g.

[code]

This pretty much never changes for us once configured once, clearly the servers move around but we deal with this via DNS, hence we don't have to dynamically look it up.

You could definitely add an

[2016-03-09 13:37] tyardley opened #57 "POSTs turned into GETs?"
Hi,

I've just installed compoxure and been playing around with the example app. I may be wrong but from the tests I've done so far it seems that when I POST to the compoxure server, it passes it through to the backend server but as a GET?

I've tried digging to see if I've configured anything incorrectly, but from passthrough.js I can't see anywhere where the verb would be being set in the reques

[2016-03-09 13:47] cliftonc commented on #57
Normally it will reject a POST outright unless you configure it to allow it through, which case it should travel through unmolested.

https://github.com/tes/compoxure/blob/master/test/common/testConfig.json#L54

The 'normal' use case for Compoxure though is only serving GET's, we route anything that isn't a get directly to the backend service (we have nginx in front of Compoxure here at TES).

Can

[2016-03-09 14:37] RonRademaker opened #58 "Postprocessing links"
Hi,

I'm new to compoxure and think it looks like a promosing solution for a new microservice based project I'm starting. Currently I'm playing around with it to see if it fits my needs, so far I got most bases covered :tada:

My question if it's possible to postprocess (relative) links from a microservice, let me explain using an example:

Microservice 1 provides an interface with basic CRUD oper

[2016-03-14 16:13] cliftonc commented on #58
You can make it do this, by adding plugins to the way it parses the html.

e.g. the plugin that parses the cx-test directive is here (this just echo's back what you put in, but with the templated variable subsitution).

https://github.com/tes/parxer/blob/master/lib/plugins/test.js

Plugins are at the moment hard coded in the configuration of the html parser:

https://github.com/tes/compoxure/blob/

[2016-03-23 16:04] tyardley commented on #57
Hi,

Thanks very much for the swift reply. I think I've managed to get to the bottom of my specific problem.

I'm running with pretty much the example setup, I've just changed the server setups to bind only on port and not localhost so I can run it in docker on Windows.

I think the main problem wasn't that the POSTs weren't getting identified to be passed through, but that when they were handled

[2016-03-23 16:12] cliftonc commented on #57
Sounds like you found and fixed a bug, are you able to submit the fix as a PR?

[2016-03-23 19:41] tyardley commented on #57
Sure, will do

[2016-03-30 19:21] tyardley commented on #57
Hi,

I'm having trouble running the unit tests locally, I get the 2 issues below on a fresh checkout.

I've not spent much time digging into these yet to be honest, but before I did I just wanted to check if they were known, and if you have any guidance on getting an environment set-up? I'm guessing there's something in my set-up the tests aren't liking, I'm currently running this on an Ubuntu doc

[2016-03-30 19:48] skhoshoo commented on #57
I just did the following:
[code]
and all tests pass. Do you have reliable-get@0.1.30 installed? E.g.,
[code]

[2016-03-30 19:56] bettiolo opened #60 "cacheKey backend configuration setting not documented"

[2016-04-01 09:40] komushi opened #61 "To use compoxure with multiple micro-service instances on different containers or maybe paas"
Appreciate Clifton's article at [https://medium.com/@clifcunn/nodeconf-eu-29dd3ed500ec](https://medium.com/@clifcunn/nodeconf-eu-29dd3ed500ec)

I still have some questions to apply on our system.

Assume I have a series of vertical-style - different business domains - micro-service instances which are managed and deployed by each team in containers on a same cloud foundry platform.

Let me use the

[2016-04-02 10:04] jhaeyaert opened #62 "Export and import html tags to improve web performances"
Hi,

First of all, sorry for the approximative english (not my native language).

In a micro applications / services architecture, each application is responsible of a small piece of functionalities of a bigger system.

In order to be able to deploy each application independently, I want no coupling between each applications (I think this is the purpose of compoxure ;-).

My question is about deal

[2016-04-02 13:48] cliftonc commented on #62
This is exactly what the cx-bundle directive does, but it is hugely opinionated and assumes you are putting the bundles of js and css in a certain structure on a CDN and your services return version headers that allow compoxure to use the correct version for the service.

You can see an example in the example folder of compoxure, and also in the tests for bundles.

We use this a lot at TES (have d

[2016-04-02 14:19] jhaeyaert commented on #62
Thanks for the quick response.

I don't really understand how the cx-bundle works and if it allows to declare the bundle in child fragment template without declare it into the backend html template (ex : declare it in footer html without declare it in homepage html).

Is the cx-bundle declaration allows to include js and css into the head section of the final html structure ?
In the same time, is

[2016-04-02 14:27] cliftonc commented on #62
At the moment you do have to declare the bundle in the backend template, but given you add the cx-url fragment there anyway it's not too much of an overhead.

You can put the bundle wherever you need to in the page.

[2016-04-02 16:22] jhaeyaert commented on #62
Ok got it.

So, if I need to modify my footer application to add some javascript but I want the script to be include in the head section of the whole page (that is not managed by the footer app but by the homepage app), I need to modify and redeploy the homepage app too ?

[2016-04-02 16:30] cliftonc commented on #62
Yes, at the moment that's how you have to do it.  We did once discuss
placeholder tags where you could have content from fragments placed in
other parts of the page (definitely possible), but it hasn't been built.

[2016-04-04 21:18] cliftonc commented on #61
Sorry for the delay, I'll find some time tomorrow to post some sample configuration and HTML that does the above - its exactly how we operate here, and have had a mix of Node and Java apps composed together.

[2016-04-20 01:47] komushi commented on #61
Look forward to that. Appreciate it a lot.

[2016-04-28 14:39] RonRademaker opened #64 "POST request to microservice"
Hi,

I'm currently building our first compoxure powered application. We use PHP for most microservices. If I post to compoxure, the requests are transformed to GET request. This is similar to what has been described in #57. The solution provided there, the ```passThrough``` options results in a POST to the backend. This is not what we are looking for, I want to request to the backend to remain a G

[2016-04-28 14:56] cliftonc commented on #64
Not sure I quite get what you're trying to do?

At TES, when we want to post to a microservice we just post to it directly, not via PC.

[code]

If that page then has a form or action that I want to post something back to the ```fragment-service.internal.com```, then we just post straight to it.

[code]

We have nginx in front of page composer, where we map the various routes to the right place.

[2016-04-28 16:27] RonRademaker commented on #58
Thanks, starting to actually use compoxure in a real project made me realize it's 'better' to add the prefixing to the app.

[2016-04-28 16:27] #58 closed

[2016-04-28 16:31] RonRademaker commented on #64
I get what you're saying and I've been trying to get it to work. I got the basics working, but how do you deal with failed server side checks. For example, we got a registration form in a microservice. One of the server side checks is checking if the given e-mail address is already known. If it is, the form is presented again (pre-filled of course) with a little message about what's wrong. In this

[2016-04-28 16:55] gabceb commented on #64
Over here we would submit the form via a POST to an api endpoint if the called returned json (which is what we mostly do) or a custom endpoint that is exposed on nginx with the microservice as the upstream which again, bypasses PC.

If your POST response has PC fragments on it (which I am assuming is what makes this problem interesting) you can probably hack it out by 301ing after the POST to the

[2016-04-28 17:00] cliftonc commented on #64
Yep, what I was going to add.  We submit the form with javascript to an API bypassing compoxure.

We refer to it internally as Page Composer = PC in @gabceb comments above.

[2016-04-28 17:02] RonRademaker commented on #64
The POST response doesn't have compoxure fragments, it is a compoxure fragment itself. Something like:

PC template:
[code]

[2016-04-28 17:22] RonRademaker commented on #64
I think for me the easiest solution for our setup would be to be able to configure servers (in the parameter section) in a way that all POST data would be passed through to that server (but never to the backend). But I don't know if or how that would work in compoxure, it should be something in the htmlparser. Which now uses the ```ReliableGet``` (which name suggests it won't be suitable for posts

[2016-04-30 06:34] cliftonc commented on #64
It might be technically possible to allow a POST via compoxure, and then run the response through the htmlparser, but I do think that the pattern of POST then re-direct is a better one to use in general.

ReliableGet could proxy POST's as well as GET's, but it would need a PR on that project as by their nature POSTs must never be cached, and ReliableGet is all about caching.

If you'd like to have

[2016-05-25 12:55] RonRademaker commented on #64
We've updated our services to return JSON, which also results in a better user experience 😄

[2016-05-25 12:55] #64 closed

[2016-05-25 12:57] cliftonc commented on #64
Great, glad you found a solution that worked for you.

[2016-05-25 13:04] RonRademaker opened #66 "Replace fragment content in error handler"
Is it possible to generate some html to replace a fragment's response in the response handler, instead of the documented redirect.

For example:

Instead of something like:
[code]

It would be something like

[code]

[2016-06-01 03:10] christian-posta opened #67 "cannot build latest from master"
getting a nom issue:

Easy to reproduce:

or if you run it on docker:

any ideas?

[2016-06-01 03:15] gabceb commented on #67
Can you try either removing the precommit-hook dep or running "npm install jshint -g" before you npm install

[2016-06-01 13:01] christian-posta commented on #67
@gabceb thanks for the comment. yep, removing precommit-hook dependency fixed it... or, at least i can build now. but running `npm example` after a successful build gives me this:

[code]

[2016-06-01 13:15] gabceb commented on #67
This looks like an issue with Node6/Npm3. Ill give a try today and change things appropriately

[2016-06-01 13:34] christian-posta commented on #67
Any specific version you recommend?

On Wed, Jun 1, 2016 at 6:15 AM, Gabriel Cebrian <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2016-06-03 14:40] dmorgantini commented on #67
@christian-posta it works with node 4.4 currently.

[2016-06-03 14:45] christian-posta commented on #67
thanks!

On Fri, Jun 3, 2016 at 7:40 AM, David Morgantini <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2016-06-14 12:21] RonRademaker opened #71 "Backend timeout looks like a request timeout"
The timeout defined in the backend section seems to be a timeout for the entire request. If I configure it lower than the time required to get the full response, but fast enough to get the template from the backend I get errors like:

``` Timeout exceeded, failed to respond in 100ms. Failed Fragment: http://XXX/account/ ```

The fragment timeout however is set much higher in the template:

[code]

[2016-06-14 13:39] cliftonc commented on #71
Well spotted, it is the overall response timeout, makes much more sense if this is done as an aggregation of the fragment timeouts.

I notice in the PR that you are updating the timeout to whatever it is in the fragment.  Would it make more sense to only _increase_ the timeout if the current timeout is lower than the fragment?  e.g. have the backend timeout remain the default overall response time

[2016-06-14 13:41] RonRademaker commented on #71
Sounds good, I'll change the PRs

[2016-06-14 13:55] RonRademaker commented on #71
I updated both PRs

[2016-06-14 14:09] RonRademaker commented on #71
Looking at this some more, I wonder why the timeout in parxer state exists to begin with. This is the handling of a timeout that must occur after the initial backend template has been fetched (as it's part of parsing that template). These timeouts are already dealt with by the request in reliableget.

With the changes I get less timeouts, but if I force them (by adding sleep calls to my services),

[2016-06-14 14:58] cliftonc commented on #71
From memory it was a safety net, a way to ensure it never got stuck or took too long (which under load would stack requests up and take the whole thing down).

It may be better to have the backend timeout be for the request to the backend, and perhaps add an optional parserTimeout that could be added if you wanted the larger timeout to be enabled?

[2016-06-20 08:57] RonRademaker commented on #71
I opened a PR for this at https://github.com/tes/parxer/pull/12

[2016-06-20 13:24] man-andy opened #73 "White page when upgrading from 1.0.1 to 1.0.3 (and up)"
I did an update from 1.0.1 to master and when I went to the site, I got a white page.
I also tried version 1.0.3 and it will also result in a white page.

The page gives a status 200, but the response is empty.
I do not see any error that is causing this problem. I only see this in my terminal:
[code]

[2016-06-20 13:46] cliftonc commented on #71
Thanks, merged and published today.

[2016-06-20 14:54] #71 closed

[2016-06-21 13:29] cliftonc commented on #73
Doesn't sound good - are you able to share the config or the page so we can attempt to recreate?

[2016-06-21 13:44] man-andy commented on #73
Yeah, sure:

config.json
[code]

index.js
[code]

package.json
[code]

[2016-06-21 14:20] cliftonc commented on #73
Can you try adding the following to the config:

[code]

This disables the multi-pass rendering that was introduced around 1.0.0.

[2016-06-21 14:51] man-andy commented on #73
No joy...

Perhaps there is a difference for nodejs version support between 1.0.1 and 1.0.3?

[2016-06-21 14:54] cliftonc commented on #73
Not that I know of, what version of node are you running?  What is the HTML you're responding with in the backend?

[2016-06-21 15:10] man-andy commented on #73
I am running an old version of nodejs, because I use the Ubuntu repository. v0.12.8
However, if the version support didn't change between the versions, this doesn't have to be the problem.

I have tried difference HTML.
The default Symfony index page, Google.com homepage and also a html page containing only a "hello world".
All 3 pages are working correctly in 1.0.1, but not in 1.0.3 - 1.0.5

[2016-06-21 15:12] cliftonc commented on #73
Ok, I'll keep digging.

[2016-07-05 15:13] datenpate commented on #73
Same is happening for me. Releases from 1.0.3 are producing a blank page. 1.0.1 is still working.
[code]

[2016-07-05 15:42] datenpate commented on #73
@cliftonc I also did some digging. Starting with v1.0.3 ``middleware/backend.js:selectBackend()`` is not called anymore on request. Maybe there is something broken in https://github.com/tes/compoxure/commit/5c49cb0aeeea44dc094f0a8f54237e48fc8b9a22

[2016-07-08 09:09] RonRademaker commented on #73
@cliftonc I found the problem for our situation and fixed it in PR #75, does this solution work for you too?

[2016-07-08 09:24] cliftonc commented on #73
Lgtm but am on holiday so will need someone else to merge, @gabceb ?

[2016-07-13 14:56] sendele opened #76 "Possible to run example on Windows?"
Being too lazy to install Redis, I removed the sections `"circuitbreaker"` and `"cache"` from `compoxure-1.0.5/example/config.json`.

But when hitting http://localhost:5000/ I get an empty response (Status Code: 200, but Content-Length: 0).

Is there a possibility to run the example without Redis at all?
Or am I missing something like a URL path or parameters?

[2016-07-13 15:00] gabceb commented on #76
As per the Readme section 'To disable caching simply delete the entire config section'. Doesnt that work? Note that you still prob need the redis npm package dependency but redis should not be used. You can also use noCache on backends but we will probably try to connect to Redis initially

[2016-07-13 15:47] sendele commented on #76
Thanks for your lightning-quick response! The initial call to Redis seems to be the exact problem:
[code]

Deleting the entire `cache` config section is exactly what I did. More formally, I replaced
[code]
by
[code]

I tried an additional `"noCache": true,` (is that correct?) on all backends, but still the response is empty.

[2016-07-18 07:01] sendele commented on #76
Ok, I've overcome my laziness and installed Redis, more precisely https://github.com/MSOpenTech/redis as I'm working on Windows.
After resetting my `config.json`, the error on startup disappeared, but still I get the same result (empty response).

[2016-07-18 12:43] #73 closed

[2016-07-18 12:47] cliftonc commented on #62
Closing as we haven't continued the discussion, please re-open if you want further help.

[2016-07-18 12:47] #62 closed

[2016-07-18 12:59] #67 closed

[2016-07-18 14:05] cliftonc commented on #76
This may be fixed with the merge of the fix for #75 - can you try now?

[2016-07-20 09:24] sendele commented on #76
I tried Compoxure 1.0.7 and works now. Seems like this is a duplicate of  #75

[2016-07-20 09:24] #76 closed

[2016-07-22 06:16] cliftonc commented on #66
Closing after merge of #77

[2016-07-22 06:16] #66 closed

[2016-07-22 06:17] #60 closed

[2016-07-29 08:43] RonRademaker opened #79 "Documentation on performance of compoxure"
We were experiencing a lot of timeout issues with services and compoxure felt really slow. I just found that upping the UV_THREADPOOL_SIZE variable really speeds things up a lot. I guess it would be a good idea to document this, and of course I'm now wondering if there are other things that can speed up compoxure as well?

[2016-08-01 12:16] cliftonc commented on #79
That's very interesting.  We did a whole lot of load testing a ~year ago when we had a memory leak:

https://medium.com/@clifcunn/an-adventure-with-a-memory-leak-in-node-3568128a0e83#.1yrwzt6rw

And there is a simple benchmark in the example folder:

https://github.com/tes/compoxure/blob/master/example/benchmark.js

But not documented - we should definitely approach this more rigorously and docume

[2017-03-08 15:01] Tamagotcheat opened #93 "Cannot run the example"
Hello !

I saw an article about Compoxure and I wanted to try it but I think it doesn't work when I run it.
I'm able to clone the repository, do an "npm install" and "npm run start" and I can see the messages :
"Example compoxure server on http://localhost:5000
 Example backend server on http://localhost:5001"

But when I go to http://localhost:5000 as mentioned in the instructions, I see nothing

[2017-03-19 19:04] strife25 commented on #93
I am also hitting this issue.

Here is my stack trace:

[code]

[2017-03-19 19:37] linusthe3rd opened #94 "Getting Started Instructions"
Hello,

I am exploring different frameworks to help incorporate UI decomposition into my project so we can break up a monolithic UI codebase. Compoxure looks interesting to me, but I am not sure how to actually start getting it all set up for my own project. I understand the configuration file documentation, but what is needed to start using this tool for my own app?

Looking at the example code,

[2017-03-26 19:00] szxnyc commented on #93
Hello,

Same exact issue here.

[2017-03-26 22:39] strife25 commented on #93
I figured out why the example is failing in my comment above. Turns out the example is written to use the [connect](https://github.com/senchalabs/connect) server, which uses the nodejs-native request objects. However, the call to `req.get` fails with this assumption. This is because `.get` is a method available on request objects returned from [Express.js](https://expressjs.com/en/4x/api.html#req.

[2017-03-27 02:31] gabceb commented on #93
Hi @strife25. I have not ran the example for a while but using Express instead of connect is correct. We run all pur microservices on Express 4. Can you submit a PR with tha fix for the example? If you hit another snag let me know and I'll try to help

[2017-03-28 10:50] env0der commented on #93
@gabceb @strife25 I had the same issue today while doing an evaluation of `Compoxure`. Please look at #95 that fixes it. Special thanks to @strife25 for a hint about using `Express`.

[2017-03-30 08:14] cliftonc opened #96 "Simplify Caching via @bettiolo"
Right now we have a two way caching system. Downstream set cache headers as well as fragment and page composer configuration. I think that this duality adds unnecessary complications.

With the removal of the automagic cache, we have a saner config where we only cache fragments where explicitly set. I would extend this concept and make so that it is always the responsibility of the fragment itself

[2017-03-30 08:14] cliftonc commented on #96
It's a choice of scattering cache-control around or centralising it.

Originally it felt simpler to centralise it and make it declarative. NoCache=true is better (?) than copy pasting a string around services where people may not understand why.

I think removing the ability to declare something explicitly in page composer back end config or fragment config as no-cache is a big thing, we should di

[2017-03-30 08:17] cliftonc commented on #94
Correct - you need to create a simple express app that you add the middleware in this project to, and pass in the config to.  The version in example/proxy.js is about as simple as it gets.  Our version live here at TES isn't much more complex than that!

I've been meaning to write an up to date blog post to describe how we use it fully here, with better production ready code examples - I'll use ou

[2017-03-30 14:08] #93 closed

[2017-03-31 10:50] bettiolo commented on #96
Except if there are not other ideas, we should probably close this...

[2017-04-11 21:07] #96 closed

[2017-06-28 10:48] stefanklokgieters opened #99 "Compoxure Slots Usage"
Hi,

Yesterday I installed Compoxure to see what it could do for me looking at including multiple Micro Services into one of our existing pages. I am really amazed by all its functionality!

I am able to get Compoxure up and running and even to include a external application in one of the placeholders. Currently it returns the full HTML page (head, body etc) while I am more interested in grabbing

[2017-09-04 09:51] petesiss commented on #96
Curious to know if you decided to put this in a roadmap, or if you in fact decided not to change it.

[2017-09-04 11:04] cliftonc commented on #96
We decided to leave it as it is.

[2017-09-11 15:51] petesiss opened #102 "configuring passThrough and contentTypes"
A backend config already has ``["application/javascript", "html"]`` in the ``contentTypes`` config, in conjunction with``"passThrough": true``.

How would you now configure compoxure to pass through your sitemap.xml from that backend, with the correct content-type header, assuming:
- the backend provides the full document
- it shouldn't be parsed
- the backend has set the correct application/xml c

[2017-09-11 23:21] gabceb commented on #102
@petesiss can you confirm your request passes all the conditions at https://github.com/tes/compoxure/blob/c32966e2912a6303967d0720ad31aba79d0817dd/src/middleware/passthrough.js#L8-L16 to be considered a passthough request?

[2017-09-14 15:24] petesiss commented on #102
@gabceb no, in my testing it matches the condition ``req.contentType === 'html'``

[2017-09-29 15:56] rualatngua commented on #94
+1
@cliftonc I'm waiting for your blog post to describe how we use it fully.

https://www.youtube.com/watch?v=l1GmfbblLcE great talk and awesome insight. Compoxure is very interesting and we hope it can help us to decompose our website and leverage our culture.

[2017-09-29 17:43] cliftonc commented on #94
Thanks for the nudge, I'll see if I can carve out the time do pull this together.

[2017-10-01 20:59] petesiss commented on #102
@gabceb Ive spent a little more time on this and it seems to me that there is no way to configure Compoxure to respect application/xml as well as application/javascript that it is already configured for.

Would be great to get your perspective on this, especially if I've missed something.

Right now xml sitemaps have the correct content type when sent from the backend, but Compoxure returns them t

[2017-10-04 06:49] HarshadUpadhyay commented on #61
Hi,

I am also trying to create composite UI with different UI sections serviced from different docker containers.

Is it possible to get some sample configuration?

Thanks

[2017-10-04 10:47] cliftonc commented on #61
There is a super simple example here:  https://github.com/cliftonc/compoxure-talk

[2017-11-02 18:45] mandale28 opened #105 "Error in running example"
Tried to run start after downloading.
I am getting the cookie parser error while downloading & running by zip ( and using cloning -> we are getting other error 'cacheFactory error')

![image](https://user-images.githubusercontent.com/33297883/32344149-14f4725e-bfc3-11e7-94b4-6344315cb209.png)
Appreciate your help..

[2017-11-03 00:15] nutan06 commented on #105
I am also facing similar issue.
After installing cookie-parser got the error of no cache engine.
How to rectify this?
Thanks in advance.

[2017-11-03 07:59] cliftonc commented on #105
I'll take a look this morning.  Looks like the dependencies arent right - what version of node / npm?

[2017-11-03 14:39] mandale28 commented on #105
info using npm@5.5.1
info using node@v8.9.0

[2017-11-19 10:27] r-ghilardi commented on #105
@nutan06 to solve cache issue you have to use a cache engine or set `engine: "nocache"` in `example/config.json`configuration files:
[code]

[2017-11-26 21:13] nutan06 commented on #105
@r-ghilardi Thanks for the suggestion will try it.

[2017-12-08 15:26] cliftonc commented on #94
I've created a simple project that mimics the service we have in production here at Tes:
 https://github.com/tes/compoxure-example.

[2017-12-11 09:48] #105 closed

[2017-12-11 09:49] cliftonc commented on #99
@stefanklokgieters huge apologies for not spotting this issue - my github feed is swamped.  Assume you've either moved on with your life or have solved it?  Happy to assist, and now that we have https://github.com/tes/compoxure-example I'll add a layout service to it to show how slots can be used.

[2017-12-11 10:46] cliftonc commented on #99
https://github.com/tes/compoxure-example now has a fully working layout service, and an app that uses slots:

Layout: https://github.com/tes/compoxure-example/blob/master/layout/static/layout.html

App: https://github.com/tes/compoxure-example/blob/master/app/static/index.html

[2017-12-11 10:47] cliftonc commented on #94
I've also now added a layout service, that demonstrates how we use a shared layout and slots to do an additional level of composition.

[2017-12-11 10:48] cliftonc commented on #61
The https://github.com/tes/compoxure-example repo now has a fully functional example that includes apps, services and a layout service.

[2017-12-11 17:34] nutan06 commented on #105
Thanks for the update Clifton

[2018-01-12 13:39] cliftonc commented on #94
Closing as no response, but the link above is now in the readme so hopefully that helps!

[2018-01-12 13:39] #94 closed

[2018-01-12 13:40] cliftonc commented on #99
Closing as links above are a working example, and are now in the readme.

[2018-01-12 13:40] #99 closed

[2018-01-12 14:16] cliftonc commented on #61
No update, but the example is now linked in the readme.

[2018-01-12 14:16] #61 closed

[2018-01-12 14:18] cliftonc commented on #40
This is now live, and is accessible in the console.log and network timing:

<img width="1425" alt="screen shot 2018-01-12 at 14 17 01" src="https://user-images.githubusercontent.com/239305/34878903-4a59898a-f7a3-11e7-9a12-2a647b04ddd2.png">

<img width="844" alt="screen shot 2018-01-12 at 14 17 32" src="https://user-images.githubusercontent.com/239305/34878923-5c137a0a-f7a3-11e7-8db3-aaf8ad6c538f.

[2018-01-12 14:19] cliftonc commented on #5
This is no longer a feature of compoxure, as it was unreliable.

[2018-01-12 14:19] #5 closed

[2018-01-12 14:21] cliftonc commented on #13
Closing due to age, but thanks for the discussion @dglozic and hope all is well these days!

[2018-01-12 14:21] #13 closed

[2018-01-12 14:29] cliftonc commented on #41
Investigate making an extra check somewhere around here:  https://github.com/tes/compoxure/blob/master/src/middleware/proxy.js#L158  that checks what the content-type is in the response, and if it's not `text/html` then send the content straight through unparsed.

[2018-01-12 14:36] #43 closed

[2018-01-12 14:40] cliftonc commented on #48
@sithmel we should do this.

[2018-01-12 14:45] cliftonc commented on #50
Lets see if we can get this PR over the line?

[2018-01-12 14:47] #57 closed

[2018-01-12 14:56] cliftonc commented on #79
Will give this some thought.

[2018-01-12 14:59] cliftonc commented on #102
If we address #41 it will solve this, moving the fix over there.

[2018-01-12 14:59] #102 closed

[2018-01-18 17:16] cliftonc opened #106 "Add debug header"
We should add a header / output that shows debug info when asked in a url, e.g. no one understood why PC was over-writing the cache-control header.

It was doing it because there was a fragment in page that wasn't cached, and so triggered this safety catch:

https://github.com/tes/compoxure/blob/36a0e9665465a009ff6e32d822d09688ee13fb45/src/middleware/htmlparser.js#L130

[2018-02-27 11:20] sithmel opened #107 "Content errors should not be on the page when disabled"
https://user-images.githubusercontent.com/10531445/36725318-d8cdf862-1bad-11e8-89e1-2e97b04226f7.png

[2018-02-27 11:56] #107 closed

[2018-05-08 14:55] cliftonc opened #109 "Headers on error"
We ran into an issue at Tes where a service responded with a 302, and compoxure served a default `cache-control` header instead of the header the service responded with.

- [ ] We should honor cache headers served under all error conditions.
- [ ] We should default to a safer no-cache `cache-control` if one isn't present.

[2018-06-01 21:24] DenisBiondic opened #111 "Using compoxture with JS / CSS (without CDN)"
Hi,

I think compoxture has a architectural affinity towards using CDN approach with Bosco, and I find it a bit difficult to figure out how far can Compoxture help when using JS / CSS without CDN. It can also be that my understanding of your comment "you should always use CDN" is limited, because I don't see how can this fit with also working locally wihout CDN, etc.

I think some examples would b

[2018-06-22 10:21] cliftonc commented on #111
@DenisBiondic apologies for the delay, we missed this.

From Compoxure's perspective CDN just means a http server that serves assets, it doesn't need to be an actual CDN, it can point back at your application.

It is however (if you use the `cx-bundles` directive) very opinionated about the structure of the js/css files on that server, which is what bosco helps tie together for you.  The `cx-bundl

[2018-08-29 22:36] siosphere opened #112 "Layout Caching Key Incorrect"
It breaks in your example, when it generated the layout caching key. In proxy.js it loads the layoutConfig:
`var layoutConfig = utils.getBackendConfig(config, layoutUrl);`

In the example this loads the default config, with cacheKey set to: `"backend:{{url:path}}"`

however, when it replaces the parameter, instead of replacing url:path with the url of the layout, it replaces it with the url of the

[2018-08-30 14:52] sithmel opened #114 "Optional query param to flush the cache"
I think it would be extremely useful to have a a query param that flush the cache for a specific page (including fragments and layout)

[2018-08-30 14:59] gabceb commented on #114
Why not make a param that changes at request time that would just bust the cache by changing the cache key? Allowing compoxure to flush the cache is a bit out of what is intended to do unless we make some kind of cli from it

[2018-08-30 15:56] sithmel commented on #114
That will probably be enough and also easier to implement :smile:

[2018-09-06 09:16] noahwiener commented on #112
Thank you for raising this issue, and for clarifying a potential problem when using layout. After our team has done some investigation, we don't believe a code change is necessary.  I've added documentation to the readme on using `layout` here: https://github.com/tes/compoxure/commit/a2463e2f396aab894af49adb251192064e1b53cc

For an example taken from the config of our service using compoxure, here

[2018-09-06 09:16] #112 closed

[2018-09-06 11:54] sithmel opened #115 "cx-debug doesn't show server timing anymore"
This is because of a change in the specs.
Here is the new spec: https://w3c.github.io/server-timing/

[2018-09-06 12:52] sithmel commented on #115
fixed

[2018-09-06 12:52] #115 closed

[2018-09-06 13:37] ksnll commented on #114
We implemented a query parameter (cx-no-cache) that will disable the cache for the request.

[2018-09-06 13:37] #114 closed

[2018-09-06 13:40] ksnll commented on #111
We're closing this for now, if you need any further information let us know

[2018-09-06 13:40] #111 closed

[2018-09-06 13:45] ksnll commented on #106
We can output some more informations while using cx-debug

[2018-09-06 15:30] sithmel commented on #106
Added a facility to log these kind of info in the browser console. You need to use cx-debug to see that.

[2018-09-06 15:30] #106 closed

[2018-09-06 15:47] siosphere commented on #112
Perfect! The {{layout}} is exactly what I was looking for.

[2018-09-07 16:29] sithmel opened #117 "cx-strategy tests"
the new parxer 4.0.0 implements the new strategy feature (see compoxure doc). Before publishing it, it would be nice testing it here too.

[2018-10-04 08:48] #117 closed

[2020-04-09 10:25] mottolini opened #124 "Don't think passThrough works as expected"
Reading the documentation and browsing in issues here (like https://github.com/tes/compoxure/issues/102), it's stated that you have to configure a backend in such a way (as an example if you want to not parse javascript AND html):

    "backend": [
       {
         "pattern": "/assets.*",
         "dontPassUrl": false,
         "passThrough": true,
         "contentTypes": [
           "applicati